ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin-left: 38%;
}

li {
  float: left;
}

.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  background-color: green;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

li a:hover {
  background-color: #111111;
}